@page "/"
@using System.Web
@using hmac.Core
@using Newtonsoft.Json.Linq
@inject IJSRuntime js
@inject ILogger<ComponentBase> logger
@inject HMACProcessor hmac
@inject NavigationManager NavigationManager

<div class="ui segment">
    <div class="ui input @(SecretIsError ? "error" : "")">
        <input id="secret" type="password" placeholder="Secret..." @bind-value="Secret" >
    </div>
    <br />
    <br />
    <div id="editor">
{
    "j": true,
    "a": 1,
    "x": {}
}
    </div>
    <button class="ui right labeled icon button" @onclick="OnClick">
        <i class="right arrow icon"></i>
        Next
    </button>
    <div class="ui action input">
        <input id="signature" type="text" placeholder="Signature..." @bind-value="Signature">
        <button class="ui compact icon button clipboard-copy">
            <i class="copy icon"></i>
        </button>
    </div>
</div>

<div class="ui segment">
    <div class="ui input fluid">
        <input id="signature" type="text" placeholder="Template string for sign" @bind-value="SignString">
    </div>
</div>
<div class="ui segment">
    <div class="ui selection dropdown">
        <input type="hidden" name="AdapterType" @bind-value="config.Adapter">
        <i class="dropdown icon"></i>
        <div class="default text">AdapterType</div>
        <div class="menu">
            <div class="item" data-value="SHA512">SHA512</div>
            <div class="item" data-value="SHA384">SHA384</div>
            <div class="item" data-value="SHA256">SHA256</div>
            <div class="item" data-value="SHA1">SHA1</div>
        </div>
    </div>
    <div class="ui selection dropdown">
        <input type="hidden" name="OutputType" @bind-value="config.OutputType">
        <i class="dropdown icon"></i>
        <div class="default text">OutputType</div>
        <div class="menu">
            <div class="item" data-value="Base64">BASE64</div>
            <div class="item" data-value="Hex">HEX</div>
        </div>
    </div>
</div>

@code
{
    [Parameter]
    public string Secret
    {
        get => _secret;
        set
        {
            ValidateSecret();
            this._secret = value;
        }
    }
    [Parameter]
    public string Signature { get; set; }

    public string SignString { get; set; }

    private string _secret;

    public bool SecretIsError { get; set; }

    private Config config = new Config();
    private async ValueTask<string> getCode()
    {
        return await js.InvokeAsync<string>("editor.getValue");
    }
    private void ValidateSecret() => SecretIsError = string.IsNullOrEmpty(Secret);

    private void SetSignature(string sign)
    {
        Signature = sign;
    }
    public async Task OnClick()
    {
        if(string.IsNullOrEmpty(this.Secret))
        {
            this.SecretIsError = true;
            return;
        }
        this.SecretIsError = false;

        var str = await getCode();
        logger.LogCritical(str);
        SetSignature(await hmac
            .WithSecret(Secret)
            .WithAdapter(config.Adapter)
            .WithOutput(config.OutputType)
            .CreateHash(JToken.Parse(str)));
    }

    #region Overrides of ComponentBase

    /// <inheritdoc />
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        hmac.OnSignConstruct += (x) => { SignString = x; };
        await base.OnAfterRenderAsync(firstRender);
        await js.InvokeVoidAsync("domReady");
        var uri = new UriBuilder(NavigationManager.Uri);
        var query = HttpUtility.ParseQueryString(uri.Query);
        if (query["c"] != null)
            config = ConfigMapper.FromString(query.Get("c"));
    }

    #endregion

}
